{{#extends 'base'}}
{{#block 'content'}}

<h2>Books List</h2>

<div class="card">
    <div class="card-header text-center">
        Featured
    </div>
    {{#each books_records}}
    <ul>
        <li>{{this.title}}</li>
    </ul>
        {{!-- <img src="{{this.imgLink}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6 class="card-text">{{this.author}}</h6>
            <p class="card-text">{{this.ratings}}</p>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://www.amazon.com/">Amazon</a></li>
                <li><a class="dropdown-item" href="https://www.barnesandnoble.com/">Barnes&Noble</a></li>
                <li><a class="dropdown-item" href="https://www.bookdepository.com/">Bookdepository</a></li>
            </ul>
        </div> --}}
    {{/each}}
</div>


{{/block}}
{{/extends}}